<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>WebRTC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="styles/styles.css" media="screen">
        <script type="text/javascript" src="js/tracking-min.js"></script>
    </head>
    <body>
        <div id="container">
            <div class="select">
                <label for="videoSource">Video source: </label><select id="videoSource"></select>
            </div>
            <br />
            <video id="video" playsinline autoplay></video>
            <canvas id="video-canvas"></canvas>
        </div>
    </body>
    <script type="text/javascript" src="js/main.js"></script>
</html>
